AuthType Basic   
AuthName "Private zone. Only for administrator!" 
AuthUserFile  /hosting/home/vsemhorosho/wodoodo/.htpasswd   
require valid-user

RewriteBase /
RewriteEngine on

RewriteRule ^$ main/index.php [L]

AddDefaultCharset UTF-8
php_flag short_open_tag Off