@font-face{
   font-family: DroidSans;
   src: url(/fonts/Droid_Sans.ttf);
}

.header{
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	background-color: #01579b;
	margin: 0;
	padding: 0;
}

.header .header_wrapper{
	width: 980px;
	margin: 0 auto;
	height: 100%;
}

.header .header_wrapper .header_block{
	display: inline-block;
	vertical-align: top;
	height: 85%;
}

.header .header_wrapper .header_block #logo{
	height: 30px;
	width: auto;
	margin-top: 9px;
}

.header .header_wrapper .header_block .search{
	height: 27px;
	width: 196px;
	border: none;
	border-radius: 3px;
	margin-top: 11px;
	padding-left: 10px;
	font-family: Arial, Tahoma;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	padding-right: 35px;
	background-color: #004275;
	color: #fff;
}

.btn_search{
	background: url('/images/main/search_icon.png');
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	width: 17px;
	height: 27px;
	display: inline-block;
	margin-left: -26px;
	margin-top: 14px;
	cursor: pointer;
}
.btn_search:focus{
	outline: none;
}

.mini_menu{
	margin-right: 0 !important;
	font-size: 13px !important;
	vertical-align: top !important;
}

.logo{
	margin-right: 17px !important;
}

.block_search{
	margin-right: 300px !important;
}

.header .header_wrapper .header_block .search:focus{
	outline: none;
}

.header .header_wrapper .header_block .search:focus::-webkit-input-placeholder{
	line-height: 100px;  
	transition: line-height 0.5s ease;
}
.header .header_wrapper .header_block .search:focus::-moz-placeholder{
	line-height: 100px;  
	transition: line-height 0.5s ease;
}
.header .header_wrapper .header_block .search:focus:-moz-placeholder{
	line-height: 100px;  
	transition: line-height 0.5s ease;
}
.header .header_wrapper .header_block .search:focus:-ms-input-placeholder{
	line-height: 100px;  
	transition: line-height 0.5s ease;
}

.header .header_wrapper .header_block .search::-webkit-input-placeholder{
	font-style: italic;
	line-height: 15px;  
	transition: line-height 0.5s ease;
	color: #fff;
}
.header .header_wrapper .header_block .search::-moz-placeholder{
	font-style: italic;
	line-height: 15px;  
	transition: line-height 0.5s ease;
	color: #fff;
}
.header .header_wrapper .header_block .search:-moz-placeholder{
	font-style: italic;
	line-height: 15px;  
	transition: line-height 0.5s ease;
	color: #fff;
}
.header .header_wrapper .header_block .search:-ms-input-placeholder{
	font-style: italic;
	line-height: 15px;  
	transition: line-height 0.5s ease;
	color: #fff;
}

.header .header_wrapper .header_block ul.right_menu{
	list-style: none;
	vertical-align: top;
	height: 100%;
	margin: 0;
	padding: 0;
}

.header .header_wrapper .header_block ul.right_menu li{
	vertical-align: top;
	display: inline-block;
	color: #fff;
	font-size: 13px;
	vertical-align: top;
	margin: 0;
	font-family: Arial, Tahoma;
	border-right: 1px solid #004378;
	box-sizing: border-box;
	height: 50px;
	padding-left: 13.8px;
	padding-right: 13.8px;
	padding-top: 17px;
	font-family: DroidSans; 
}

ul.right_menu > li:first-child{
	border-left: 1px solid #004378;
}

ul.right_menu li img{
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
}

.header .header_wrapper .header_block ul.right_menu li:nth-of-type(4),
.header .header_wrapper .header_block ul.right_menu li:nth-of-type(5),
.header .header_wrapper .header_block ul.right_menu li:nth-of-type(6){
	display: none;
}

.header .header_wrapper .header_block ul.right_menu li #service{
	width: 15px;
	padding-top: 5px;
}

.header .header_wrapper .header_block ul.right_menu li > img {
	width: 26px;
}

/* MENU SERVICES */

input[type="checkbox"].services{
	display: none;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}
label.service_button{
	display: inline-block;
	cursor: pointer;
	width: 35px;
	height: 35px;
	background-image: url('/images/main/service_btn.png');
	background-repeat: no-repeat;	
}

input[type="checkbox"]:checked.services ~ .menu_services{
	height: 300px !important;
}
input[type="checkbox"]:checked.services ~ .user_basic_info{
	margin-left: 30px !important;
}

.menu_services{
	position: absolute;
	margin-top: 15px;
	border-radius: 5px;
	width: 180px;
	height: 0;
	background-color: #14557a;
	cursor: default;
	overflow: hidden;
	z-index: 20;
	transition: height 0.35s cubic-bezier(0, 0, 0, 1.14)
}
.menu_services > .inner_menu{
	width: 180px;
	min-height: 20px;
}
.inner_menu > .profile_avatar{
	width: 120px;
	height: 120px;
	margin: 15px auto;
	border-radius: 100px;
	overflow: hidden;
}
.profile_avatar > img{
	height: 120px;
}
.inner_menu > p.menu_name{
	font-family: Roboto;
	font-size: 13px;
	color: white;
	text-align: center;
}

.menu_services > hr{
	border: none;
	height: 1px;
	background-color: white;
	opacity: 0.3;
	margin-bottom: 0;
}
.menu_services > ul.service_list{
	margin: 0;
	padding: 0;
}
ul.service_list > li{
	box-sizing: border-box;
	list-style: none;
	width: 100%;
	height: 30px;
	color: white;
	padding-left: 10px;
	padding-top: 7px;
	font-family: Roboto;
	font-size: 13px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	cursor: pointer;
}
ul.service_list > li:hover{
	background-color: rgba(255,255,255,0.3);
	border-bottom: none;
}
/* MEDIA STYLES */


@media only screen and (min-width: 768px) and (max-width: 980px){
	.header_wrapper{
		width: 768px !important;
	}
	.header_block{
		margin-right: 0px !important;
	}
	.search{
		width: 196px !important;
	}
	.block_search{
		margin-right: 60px !important;
	}
	.logo{
		margin-right: 30px !important;
	}
	.mini_menu{
		margin-left: 15px !important;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px){
	.header_wrapper{
		width: 600px !important;
	}
	.header_block{
		margin-right: 0px !important;
	}
	.block_search{
		margin-right: 130px !important;
	}
	.mini_menu{
		margin-left: 5px !important;
	}
	.logo{
		margin-left: 10px;
		margin-right: 10px !important;
	}
	ul.right_menu li{
		margin-right: 5px !important;
	}
	.search{
		width: 200px !important;
	}
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(1),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(2),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(3){
		display: none;
	}
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(4),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(5),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(6){
		display: inline-block;
		border: none;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 14px !important;
	}
	ul.right_menu{
		margin-top: 3px !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 600px){
	.header_block{
		margin-right: 0px !important;
	}
	.logo{
		margin-right: 10px !important;
	}
	.mini_menu{
		margin-left: 0px !important;
	}
	.header_wrapper{
		width: 480px !important;
	}
	.block_search{
		margin-right: 55px !important;
	}
	.search{
		width: 180px !important;
	}
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(1),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(2),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(3){
		display: none;
	}
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(4),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(5),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(6){
		display: inline-block;
		border: none;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 14px !important;
	}
	ul.right_menu{
		margin-top: 3px !important;
	}
	.service{
		margin-right: 5px !important;
	}
}
@media only screen and (max-width: 480px){
	.header_wrapper{
		width: 100% !important;
		min-width: 275px;
	}
	.block_search{
		display: none !important;
	}
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(1),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(2),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(3){
		display: none;
	}
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(4),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(5),
	.header .header_wrapper .header_block ul.right_menu li:nth-of-type(6){
		display: inline-block !important;
		border: none !important;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 10px !important;
	}
	ul.right_menu{
		margin-top: 3px !important;
		margin-right: 15px !important;
	}
	.mini_menu{
		margin-left: 0px !important;
	}
	.logo{
		margin-left: 10px;
		margin-right: 20px !important;
	}
	ul.right_menu > li > img{
		margin-top: 3px !important;
		width: 20px !important;
	}
	.service{
		margin-left: 5px;
		margin-right: 5px !important;
		float: left;
	}	
	.mini_menu{
		float: right;
		margin-right: 5px;
	}
}