.header{
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	background-color: #14557a;
	margin: 0;
	padding: 0;
}


.header .header_wrapper{
	width: 72%;
	margin: 0 auto;
	min-width: 340px;
	max-width: 980px;
	height: 100%;
}

.header .header_wrapper .header_block{
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
	margin-right: 5.1%;
	height: 85%;
}

.header .header_wrapper .header_block #logo{
	height: 35px;
	width: auto;
}

.header .header_wrapper .header_block .search{
	height: 30px;
	width: 400px;
	border: none;
	border-radius: 3px;
	margin-top: 3px;
	padding-left: 10px;
	font-family: Arial, Tahoma;
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	padding-right: 35px;
}

.btn_search{
	background: url('/images/main/search_icon.png');
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	width: 17px;
	height: 27px;
	display: inline-block;
	margin-left: -30px;
	margin-top: 8px;
	cursor: pointer;
}
.btn_search:focus{
	outline: none;
}

.mini_menu{
	margin-right: 0 !important;
	font-size: 13px !important;
	margin-top: 9px !important;
	margin-left: 25px;
}

.logo{
	margin-right: 60px !important;
}

.header .header_wrapper .header_block .search:focus{
	outline: none;
}

.header .header_wrapper .header_block .search:focus::-webkit-input-placeholder{
	line-height: 100px;  
	transition: line-height 0.5s ease;
}
.header .header_wrapper .header_block .search:focus::-moz-placeholder{
	line-height: 100px;  
	transition: line-height 0.5s ease;
}
.header .header_wrapper .header_block .search:focus:-moz-placeholder{
	line-height: 100px;  
	transition: line-height 0.5s ease;
}
.header .header_wrapper .header_block .search:focus:-ms-input-placeholder{
	line-height: 100px;  
	transition: line-height 0.5s ease;
}

.header .header_wrapper .header_block .search::-webkit-input-placeholder{
	font-style: italic;
	line-height: 15px;  
	transition: line-height 0.5s ease;
}
.header .header_wrapper .header_block .search::-moz-placeholder{
	font-style: italic;
	line-height: 15px;  
	transition: line-height 0.5s ease;
}
.header .header_wrapper .header_block .search:-moz-placeholder{
	font-style: italic;
	line-height: 15px;  
	transition: line-height 0.5s ease;
}
.header .header_wrapper .header_block .search:-ms-input-placeholder{
	font-style: italic;
	line-height: 15px;  
	transition: line-height 0.5s ease;
}

.header .header_wrapper .header_block ul.right_menu{
	list-style: none;
	vertical-align: top;
	height: 100%;
	margin: 0;
	padding: 0;
	margin-top: 8px;
}

.header .header_wrapper .header_block ul.right_menu li{
	display: inline-block;
	color: #fff;
	font-size: 13px;
	vertical-align: top;
	margin-right: 10px;
	font-family: Arial, Tahoma;
}

.header .header_wrapper .header_block ul.right_menu li:nth-of-type(1),
.header .header_wrapper .header_block ul.right_menu li:nth-of-type(2),
.header .header_wrapper .header_block ul.right_menu li:nth-of-type(3),
.header .header_wrapper .header_block ul.right_menu li:nth-of-type(4),
.header .header_wrapper .header_block ul.right_menu li:nth-of-type(5),
.header .header_wrapper .header_block ul.right_menu li:nth-of-type(6){
	display: none;
} 

@madia screen and (max-width: 980px){

}

/* MENU SERVICES */

#services{
	cursor: pointer;
}

.menu_services{
	position: absolute;
	margin-top: 15px;
	border-radius: 5px;
	width: 35px;
	height: 0;
	background-color: #14557a;
	cursor: default;
	overflow: hidden;
}
.menu_services > .inner_menu{
	width: 180px;
	min-height: 20px;
}
.inner_menu > .profile_avatar{
	width: 120px;
	height: 120px;
	margin: 15px auto;
	border-radius: 100px;
	overflow: hidden;
}
.profile_avatar > img{
	height: 120px;
}
.inner_menu > p.menu_name{
	font-family: Roboto;
	font-size: 13px;
	color: white;
	text-align: center;
}

.menu_services > hr{
	border: none;
	height: 1px;
	background-color: white;
	opacity: 0.3;
	margin-bottom: 0;
}
.menu_services > ul.service_list{
	margin: 0;
	padding: 0;
}
ul.service_list > li{
	box-sizing: border-box;
	list-style: none;
	width: 100%;
	height: 30px;
	color: white;
	padding-left: 10px;
	padding-top: 7px;
	font-family: Roboto;
	font-size: 13px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	cursor: pointer;
}
ul.service_list > li:hover{
	background-color: rgba(255,255,255,0.3);
	border-bottom: none;
}