@font-face{
   font-family: RalewayReg;
   src: url(/fonts/Raleway-Regular.ttf);
}
body{
	margin: 0;
	padding: 0;
	/*background: url('/images/main/mountains.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: beige;
	background: url('/images/main/concrete_seamless.png');
}