.userdata{
	width: 980px;
	height: 203px;
	margin: 0 auto;
	padding-top: 47px;
}

.user_photo{
	width: 130px;
	height: 130px;
	border-radius: 5px;
	margin-right: 26px;
	display: inline-block;
}

.user_photo img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.user_basic_info{
	display: inline-block;
	width: auto;
	height: auto;
	vertical-align: top;
	margin-right: 15px;
}

.user_basic_info ul{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.user_status{
	color: #fff;
	font-size: 11px;
	font-family: Tahoma;
	cursor: default;
}

.user_name{
	color: #fff;
	font-size: 34px;
	margin-top: 5px;
	font-family: RalewayReg;
	cursor: default;
}

.user_think{
	color: #fff;
	font-size: 14px;
	margin-top: 11px;
	font-family: RalewayReg;
	cursor: default;
}

.user_info_btn{
	width: 20px;
	height: 20px;
	background-color: rgba(20, 85, 122, 0.8);
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: 45px;
	cursor: pointer;
}

.user_info_btn p{
	color: #fff;
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-left: 8px;
}