.userdata{
	width: 980px;
	height: 203px;
	min-width: 340px;
	max-width: 980px;
	margin: 0 auto;
	padding-top: 47px;
	z-index: 10;
}

.user_photo{
	width: 130px;
	height: 130px;
	border-radius: 5px;
	margin-right: 26px;
	display: inline-block;
}

.user_photo img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.user_basic_info{
	display: inline-block;
	width: auto;
	height: auto;
	vertical-align: top;
	margin-right: 5px;
}

.user_basic_info ul{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.user_status{
	color: #fff;
	font-size: 11px;
	font-family: Tahoma;
	cursor: default;
}

.user_name{
	color: #fff;
	font-size: 34px;
	margin-top: 5px;
	font-family: RalewayReg;
	cursor: default;
}

.user_think{
	color: #fff;
	font-size: 14px;
	margin-top: 11px;
	font-family: RalewayReg;
	cursor: default;
}

.user_info_btn{
	width: 20px;
	height: 20px;
	background-color: rgba(20, 85, 122, 0.8);
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: 45px;
	cursor: pointer;
	margin-right: 26px;
}

.user_info_btn p{
	color: #fff;
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-left: 7px;
}

.user_info{
	width: 255px;
	height: 122px;
	vertical-align: top;
	border-radius: 5px;
	position: absolute;
	display: inline-block;
	background-color: rgba(20, 85, 122, 0.8);
	visibility: hidden;
}

.user_info::before{
	content: '';
	position: absolute;
    left: -26.8px;
    top: 43px;
	border: 12px solid transparent;
	border-right: 15px solid rgba(20, 85, 122, 0.8);
}

.static_list_info{
	list-style: none;
	text-align: right;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	padding-left: 13px;
	margin: 0;
	margin-top: 5px;
	font-family: Roboto;
}

.list_info{
	text-align: left;
	list-style: none;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	padding-left: 10px;
	margin: 0;
	margin-top: 5px;
	font-family: Roboto;
}

.static_list_info li,
.list_info li{
	line-height: 12px;
	margin-top: 6px;
}

@media only screen and (min-width: 768px) and (max-width: 980px){
	.userdata{
		width: 768px !important;
	}

	.user_photo{
		width: 100px !important;
		height: 100px !important;
	}

	.user_name{
		font-size: 28px !important;
	}

	.user_think{
		font-size: 12px !important;
	}

	.user_info_btn{
		margin-top: 37px !important;
	}

	.user_info::before{
		top: 35px !important;
	}

	.user_basic_info ul{
		margin-top: 10px !important;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px){
	.userdata{
		width: 600px !important;
		position: relative !important;
	}

	.user_photo{
		width: 100px !important;
		height: 100px !important;
	}

	.user_name{
		font-size: 28px !important;
	}

	.user_think{
		font-size: 12px !important;
	}

	.user_info{
		width: 250px !important;
		left: 180px !important;
    	top: 140px !important;
	}

	.user_info_btn{
		margin-top: 37px !important;
	}

	.user_info::before{
		border: 12px solid transparent !important;	
		border-bottom: 15px solid rgba(20, 85, 122, 0.8) !important;
		left: 185.2px !important;
		top: -27px !important;
	}

	.user_basic_info ul{
		margin-top: 10px !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 600px){
	.userdata{
		width: 480px !important;
		position: relative !important;
	}

	.user_photo{
		width: 80px !important;
		height: 80px !important;
		margin-right: 20px !important;
	}

	.user_name{
		font-size: 24px !important;
	}

	.user_think{
		font-size: 12px !important;
		margin-top: 7px !important;
	}

	.user_info_btn{
		margin-top: 30px !important;
	}

	.user_basic_info ul{
		margin-top: 5px !important;
	}

	.user_info::before{
		border: 12px solid transparent !important;	
		border-bottom: 15px solid rgba(20, 85, 122, 0.8) !important;
		left: 171.2px !important;
		top: -27px !important;
	}

	.user_info{
		width: 250px !important;
		left: 135px !important;
    	top: 130px !important;
	}
}

@media only screen and (max-width: 480px){
	.userdata{
		width: 370px !important;
		position: relative !important;
	}

	.user_photo{
		width: 70px !important;
		height: 70px !important;
		margin-right: 15px !important;
	}

	.user_name{
		font-size: 24px !important;
	}

	.user_think{
		font-size: 12px !important;
		margin-top: 7px !important;
	}

	.user_info_btn{
		margin-top: 30px !important;
	}

	.user_basic_info ul{
		margin-top: 5px !important;
	}

	.user_info::before{
		border: 12px solid transparent !important;	
		border-bottom: 15px solid rgba(20, 85, 122, 0.8) !important;
		left: 197.2px !important;
		top: -27px !important;
	}

	.user_info{
		width: 250px !important;
		left: 94px !important;
    	top: 130px !important;
	}
}