body{
    background-image: url('/view/images/cinema_back.jpg');
}
.horizontal_menu{
    position: relative;
    background-color: rgba(0,0,0,0.5) !important;
    z-index: 5500;
}
.games_information{
    width: 980px;
    height: auto;
    margin: 0 auto;
}

.title{
    color: white;
    font-family: Verdana;
    font-weight: bold;
    font-size: 25px;
}
.games_wrapper{
    width: 100%;
}
.genre_wrapper{
    width: 100%;
}
.genre_block{
    width: auto;
    height: 26px;
    color: white;
    font-family: Verdana;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
}
.genre_block:hover{
    background-color: white;
    color: black; 
}
.games_wrapper > a{
    text-decoration: none;
    display: inline-block;
    margin-right: 42px;
    margin-bottom: 25px;
}
.games_wrapper > a > .games_block:hover .games_genre, 
.games_wrapper > a > .games_block:hover .last_date,
.games_wrapper > a > .games_block:hover .games_name{
    text-decoration: underline;
}
.games_wrapper > a > .games_block:hover .games_photo_block img{
    opacity: 0.85;
}
.games_block{
    width: 200px;
    height: auto;
}
.games_wrapper > a{
    display: inline-block;
    vertical-align: top;
}
.games_photo_block{
    width: 100%;
    max-height: 400px;
    border-radius: 5px;
    overflow: hidden;
}
.games_photo_block img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.games_info_block{
    width: 100%;
    height: auto;
    color: white;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
}
.games_genre, .last_date, .games_name{
    margin: 0;
    margin-top: 2px;
}
.games_name{
	font-size: 15px;
	font-weight: bolder;
}



/*games PAGE */
.games_info_wrapper{
    width: 980px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
.games_title{
    font-family: Verdana;
    font-size: 28px;
    color: white;
    font-weight: bolder;
}
.games_info{
    width: 100%;
    height: 100px;
}
.const_info_list{
    list-style: none;
    margin-top: 30px;
    margin-bottom: 0;
}
.const_info_list > li {
    text-align: center;
    display: inline-block;
    color: white;
    font-family: Verdana;
    font-size: 17px;
    font-weight: bolder;
    width: 16%;
}
.info_list{
    list-style: none;
    margin-top: 10px;
}
.info_list > li{
    text-align: center;
    display: inline-block;
    color: white;
    font-family: Verdana;
    font-size: 16px;
    width: 16%;
}
.about_games_block{
    width: 100%;
    margin-bottom: 30px;
    height: auto;
}
.games_picture_block{
    width: 200px;
    height: 300px;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
}
.games_picture_block > img{
    width: 100%;
    height: 100%;
}
.about_games{
    width: 75%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
.about_games > .title_block_name{
    padding-left: 0;
}
.title_block_name{
    color: white;
    text-decoration: underline;
    font-family: Verdana;
    font-weight: bold;
    font-size: 17px;
}
.about_games  .text_block{
    font-size: 13px;
    font-family: Tahoma;
    color: white;
    margin: 0;
}
.description_block,
.role_block,
.producer_block{
    width: 100%;
    height: 100%;
}
.trailer_block{
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
}
.picture_games_block{
    width: 100%;
    height: 200px;
}
.picture_games_block > img{
    width: 30%;
    height: 80%;
    margin-right: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.users_wrapper{
    width: 100%;
    height: 200px;
}
.users_wrapper > .title_block_name{
    display: inline-block;
    margin-right: 25px;
}
.show_all_users_btn{
    display: inline-block;
    color: white;
    font-family: Verdana;
    font-size: 14px;
}
.show_all_users_btn:hover{
    cursor: pointer;
    text-decoration: underline;
}
.users_block{
    width: 100%;
    height: auto;
}
.user_block{
    width: 100px;
    height: auto;
    cursor: pointer;
    display: inline-block;
    margin-right: 40px;
}
.user_block:hover a{
    text-decoration: underline;
}
.user_block:hover .user_photo_block img{
    opacity: 0.85;
}
.user_block a{
    text-decoration: none;
    color: white;
    font-family: Verdana;
    font-size: 13px;
}
.user_photo_block{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: 10px auto;
}
.user_photo_block img{
    width: 100%;
    height: 100%;
    border-radius: 80px;
}
.user_name{
    text-align: center;
    margin: 0;
}
.comments_wrapper{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.all_comments_block{
    width: 100%;
    height: auto;
}
.user_comments_block{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.user_comments_block > .user_login{
    color: white;
    font-family: Tahoma;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 5px;
    font-weight: bolder;
    display: inline-block;
}
.user_comments_block > .points_block{
    display: inline-block;
    float: right;
    margin-right: 20px;
}
.points_block > p{
    font-family: Tahoma;
    font-size: 13px;
    margin-top: 5px;
    color: white;
    display: inline-block;  
}
.comments_text_block{
    width: 100%;
    margin: 0 auto;
    height: auto;
}
.comments_text_block > p{
    font-family: Tahoma;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 0;
    color: white;
}
.good{
    border: 1px solid green;
}
.bad{
    border: 1px solid red;
}
.satisfactory{
    border: 1px solid orange;
}

a.back_to_games{
    display: block;
    color: white;
    font-family: Verdana;
    text-decoration: none;
    font-size: 13px;
    margin-top: -15px;
}

a.back_to_games:hover{
    text-decoration: underline;
}

a.im_played{
    display: inline-block;
    vertical-align: middle;
    color: white;
    /*margin-left: 15px;*/
    margin-top: -4px;
    text-decoration: none;
    font-family: Verdana;
    font-size: 14px;
}
a.im_played:hover{
    text-decoration: underline;
}

.okay_message_popup, .error_message_popup{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    background-color: #2ecc71;
    border-bottom: 2px solid #27ae60;
    color: white;
}
.okay_message_popup > p, .error_message_popup > p{
    padding-top: 8px;
    padding-left: 10px;
    font-family: Verdana;
    font-size: 13px;
}
.error_message_popup{
    background-color: #e74c3c;
    border-bottom: 2px solid #c0392b;
}
span.not_players{
    color: white;
    font-family: Verdana;
    font-size: 13px;
}
form.comment_form{
    margin-top: -10px;
}
form.comment_form > input[type="text"]{
    width: 100px;
    height: 25px;
    border: 1px solid white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: transparent;
    padding-left: 5px;
    color: #fff;
}

.input_title{
    color: white;
    font-family: Verdana;
    font-size: 13px;
    margin-right: 10px;
}
form.comment_form > textarea{
    width: 99%;
    background: transparent;
    color: white;
    padding-left: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid white;
    height: 200px;
    overflow-y: hidden;
    margin-bottom: -4px;
    margin-top: 10px;
    font-family: Verdana;
    resize: none;
}
form.comment_form > input[type="submit"]:hover{
    background-color: rgba(215, 215, 215, 1);
}
form.comment_form > input[type="submit"]{
    width: 99.9%;
    height: 40px;
    background-color: white;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border: none;
    margin-top: -8px;
    margin-bottom: 25px;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}