.settings_wrapper{
	width: 980px;
	height: auto;
	margin: 1px auto;
	border-radius: 0 0 3px 3px;
	text-align: center;
	padding-bottom: 20px;
	font-family: HelveticaBold;
	font-size: 14px;
}
.city_block{
	position: relative;
}
.hint_block{
	position: absolute;
    width: 65.5%;
    left: 240px;
	top: 42px;
    z-index: 5;
	height: 0px;
	background-color: white;
	overflow-y: scroll !important;
	font-family:HelveticaNeueCyr;
	font-weight: normal;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.city{
	width: 100%;
	height: 40px;
	padding-top: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.city:hover{
	cursor: pointer;
	background-color: rgba(0,104,168,0.5);
}
.city:hover > .city_name, .city:hover > .area{
	color: white;
}
.city_name{
	font-size: 13px;
	color: black;
	margin: 0;
	padding-left: 5px;
	text-align: left;
}
.area{
	font-size: 11px;
	color: rgba(0,0,0,1);
	margin: 0;
	padding-left: 5px;
	text-align: left;
}
.user_photo_block{
	display: inline-block;
	width: 150px;
	height: 150px;
	overflow: hidden; 
}
input[type='file']{
	display: inline-block;
}

.settings_wrapper > form{
	text-align: left;
	padding-top: 10px;
	width: 100%;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.settings_wrapper > form > input[type="date"]{
	font-family: HelveticaNeueCyr;
}
.settings_wrapper > form > input.change_photo{
	padding-top: 6px;
}
.settings_wrapper > form > select{
	margin-left: -3px;
	width: 67%;
	height: 30px;
	padding-left: 5px !important;
}
.settings_wrapper > form > input, .settings_wrapper > form > select, .settings_wrapper > form > .city_block > input{
	margin-top: 10px;
	background-color: #f1f4f9;
	border: none;
	height: 30px;
	width: 65%;
	padding-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 15px;
}
.settings_wrapper > form > label, .settings_wrapper > form > .city_block > label{
	margin-left: 45px;
	display: inline-block;
	width: 20%;
	font-weight: normal;
	font-size: 13px;
	font-family: HelveticaNeueCyr;
	text-transform: uppercase;
}
.information_button{
	width: 100%;
	height: 50px;
	margin-top: 10px;
}
.button_cancel, .button_save{
	display: inline-block;
	vertical-align: top;
	height: 50px;
	float: left;
	width: 50%;
	border: none;
	color: white;
	cursor: pointer;
	background-color: #008cdb;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.button_cancel:hover{
	background-color: #0b73db;
}
.button_save{
	float: right;
	background-color: #00c4a9;
}
.button_save:hover{
	background-color: rgba(0, 196, 169, 0.85);
}
.hint_block::-webkit-scrollbar{
    width: 5px;
}
.hint_block::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #e0e0e0;
    background-color: #e0e0e0;
}
.hint_block::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #fff;
    background-color: #1594ce;
}
.hint_block::-webkit-scrollbar-track{
    border-width:0;
}
.hint_block::-webkit-scrollbar-track:hover{
    //border-left: solid 1px #aaa;
    background-color: #fff;
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 980px){
	.settings_wrapper{
		width: 768px !important;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px){
	.settings_wrapper{
		width: 600px !important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 600px){
	.settings_wrapper{
		width: 480px !important;
	}
}